.jogo {
  display: flex;
}
.jogo img {
  width: 450px;
  margin: 30px 0 20px 30px;
}

.jogo button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  width: 200px;
  height: 60px;
  background: #27ae60;
  border-radius: 8px;
  border: none;
  position: absolute;
  top: 89px;
  right: 70px;
}

.jogo p {
  position: absolute;
  bottom: 340px;
  right: 80px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  display: flex;
  color: #000000;
}

.red {
  color: red;
}
.green {
  color: green;
}

.letras {
  display: flex;
  width: 650px;
  margin: auto;
  flex-wrap: wrap;
}

.letras button {
  width: 40px;
  height: 40px;
  background: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  margin: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #798a9f;
}

.letras .habilitarLetras {
  background: #e1ecf4;
  cursor: pointer;
}

.chute {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 38px 0;
}

.chute button {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c76a1;
}

.chutarDesabilitado {
  /* cursor: not-allowed; */
  /* disabled: disabled; */
}

.chutarHabilitado {
  cursor: pointer;
}

.chute input {
  box-sizing: border-box;
  width: 353px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 0 10px;
}

.chute p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
